---
import SectionMessage from "../components/SectionMessage.astro";
---

<SectionMessage>
  <span slot="header"><h1>Coming Soon: FAQ</h1></span>
</SectionMessage>
<SectionMessage thin>
  <span slot="header"
    >How is Mental Fitness Training different than therapy?</span
  >
  <span slot="body"
    ><h2>Answer:</h2>
    <p>
      Therapists give you advice based on what they learned in university. A
      good therapist can be VERY helpful to your mental health.
    </p>
    <p>
      In contrast, your Personal Mental Fitness Trainer (PMFT), just like a
      Personal Physical Fitness Trainer (PPFT), guides you in using proven mental
      weight loss strategies so you can shed mental pounds, and mental muscle
      building exercises to help you achieve your mental fitness goals.
    </p>
    <p>
      Their job is less about giving advice and more about guiding you and
      motivating you in achieving the mental fitness goals YOU want to work
      towards. So, just like a Personal Trainer (PT) could help you lose 50
      pounds and get in shape at the gym, your PMFT helps you lose mental weight
      and get in shape mentally.
    </p>
  </span>
</SectionMessage>
<SectionMessage thin>
  <span slot="header">How does a PMFT help me; What does it look like?</span>
  <span slot="body"
    ><h2>Answer:</h2>
    <p>
      After listening to your mental fitness goals, your PMFT helps you come up
      with a customized Mental Fitness Plan, which includes engaging in proven
      mental weight loss techniques and mental muscle building exercises.
    </p>
  </span>
</SectionMessage>
<SectionMessage thin>
  <span slot="header">Is it hard?</span>
  <span slot="body"
    ><h2>Answer:</h2>
    <p>YES!</p>
    <p>
      And, because it is, you need to be at a point where you are SICK of being
      mentally overweight and you will do ANYTHING to get into shape.
    </p>
    <p>
      When you're willing to do whatever it takes to become mentally strong,
      your PMFT can show you how to CRUSH your mental health challenges.
    </p>
  </span>
</SectionMessage>
<SectionMessage thin>
  <span slot="header">What if I fail?</span>
  <span slot="body"
    ><h2>Answer:</h2>
    <p>
      Ever seen that guy at the gym on the treadmill who's 100 pounds
      overweight?
    </p>
    <p>He has our HIGHEST respect!</p>
    <p>
      He may have let himself go in the past but - dang it - he's determined to
      turn the shape of his body around and he doesn't give a rip what anyone
      else thinks.
    </p>
    <p>Your PMFT is the same!</p>
    <p>
      We know what it's like to be mentally overweight like you so there's NO
      judgement but only respect.
    </p>
    <p>
      Your PMFT will encourage you after a week you didn't do so well, and
      celebrate your success when you NAIL it!
    </p>
  </span>
</SectionMessage>
<SectionMessage>
  <span slot="body"><hr /></span>
</SectionMessage>

<style>
  h1,
  h2 {
    color: hsl(320, 42%, 70%);
  }
  p {
    text-align: left;
  }
</style>
