---
---

<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="index.html"
      ><span class="logo-mountain"></span>White Rock Mental Fitness</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="https://anchor.fm/dave-miller85" class="nav-link">Podcast</a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.amazon.com/Mentally-Ill-Mentor-Principles-Maintaining/dp/148105869X"
            class="nav-link">Book</a
          >
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Subscribe</a>
        </li>
        <!-- <li class="nav-item">
          <a href="schedule.html" class="nav-link">Schedule</a>
        </li>
        <li class="nav-item">
          <a href="about.html" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="blog.html" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="contact.html" class="nav-link">Contact</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<style>
  .logo-mountain {
    background-image: url(/images/mountain.png);
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: bottom;
  }
  ul li {
    /* font-family: "EB Garamond", serif; */
    padding-top: 10px;
  }
  ul li a {
    font-size: 1.2rem !important;
  }
  @media only screen and (max-width: 550px) {
    a.navbar-brand {
      font-size: 14px;
      line-height: 45px;
    }
  }
</style>
