---
---

<section
  class="hero-wrap js-fullheight"
  style="background-image: url('images/bg_2.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
    >
      <div class="col-md-8 ftco-animate">
        <h1
          class="typewrite mb-3"
          data-period="2000"
          data-type='[ "Get Personal Training", "LOSE Mental Weight", "BUILD Mental Muscle", "CRUSH Mental Barriers"]'
        >
          <span class="wrap"></span>
        </h1>
        <h2 class="mb-5">At Your Personal Online Gym.</h2>
        <p>
          <a href="#contact" class="btn btn-primary p-3 px-4">Sign Up Today!</a>
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  h1.typewrite {
    font-size: 4rem !important;
  }
  .video {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
  }
</style>
