---
---

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h3 class="subheading">Testimonials</h3>
        <h2 class="mb-1">What Others Say...</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="line pl-5">
                  <p class="mb-4 pb-1">
                    David's experience has helped me to better understand how
                    suicide became the only option for my brother. The insight
                    and information put forward in The Mentally Ill Mentor makes
                    it clear that this illness can be beaten!
                  </p>
                  <span
                    class="quote d-flex align-items-center justify-content-center"
                  >
                    <i class="icon-quote-left"></i>
                  </span>
                </div>
                <div class="d-flex align-items-center">
                  <div
                    class="user-img"
                    style="background-image___: url(images/person_1.jpg)"
                  >
                  </div>
                  <div class="ml-4">
                    <p class="name">Lorna Scarlett Muise</p>
                    <span class="position"
                      >Sister to a brother who committed suicide</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="line pl-5">
                  <p class="mb-4 pb-1">
                    The passion, energy, and self-confidence Dave now has is
                    proof that the program he developed and shares with you in
                    this book does work. Make the choice to follow the program
                    and be determined. The joy and stability of a mentally well
                    life is worth it!
                  </p>
                  <span
                    class="quote d-flex align-items-center justify-content-center"
                  >
                    <i class="icon-quote-left"></i>
                  </span>
                </div>

                <div class="d-flex align-items-center">
                  <div
                    class="user-img"
                    style="background-image___: url(images/person_2.jpg)"
                  >
                  </div>
                  <div class="ml-4">
                    <p class="name">Aimee Miller</p>
                    <span class="position">David's wife, over 25 years</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="text">
                <div class="line pl-5">
                  <p class="mb-4 pb-1">
                    This exposure to one man's climb out of Mental Illness
                    reminds us all of simple, universal, yet powerful tools
                    available to everyone. THANK YOU, DAVE!
                  </p>
                  <span
                    class="quote d-flex align-items-center justify-content-center"
                  >
                    <i class="icon-quote-left"></i>
                  </span>
                </div>

                <div class="d-flex align-items-center">
                  <div
                    class="user-img"
                    style="background-image___: url(images/person_2.jpg)"
                  >
                  </div>
                  <div class="ml-4">
                    <p class="name">Shari Robertson</p>
                    <span class="position">Mother of 11 children</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
