---
---

<section
  class="ftco-section ftco-intro"
  style="background-image: url(images/intro.jpg)"
>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <div class="heading-section ftco-animate">
          <h2 class="mb-4">OUR VISION</h2>
        </div>
        <p>
          We are <strong>revolutionizing</strong> the way the world thinks about
          and deals with mental health.
        </p>

        <div class="heading-section ftco-animate">
          <h2 class="mb-4">OUR MISSION</h2>
        </div>
        <p class="ftco-animate">
          We change lives by bringing lasting <strong
            >hope, happiness, and purpose</strong
          > to individuals, marriages, and families.
        </p>
        <!-- <p class="ftco-animate">
          We spread hope by <strong>revolutionizing</strong> the way the world thinks
          about and deals with mental health.
        </p> -->
        <ul class="mt-5 do-list">
          <li class="ftco-animate">
            <a href="#"
              ><span class="ion-ios-checkmark-circle mr-3"></span>LOSE: mental
              weight</a
            >
          </li>
          <li class="ftco-animate">
            <a href="#"
              ><span class="ion-ios-checkmark-circle mr-3"></span>BUILD: mental
              muscle</a
            >
          </li>
          <li class="ftco-animate">
            <a href="#"
              ><span class="ion-ios-checkmark-circle mr-3"></span>CRUSH:</a
            >
          </li>
          <li class="ftco-animate">
            <a href="#">Anxiety. Depression. Thoughts of Suicide.</a>
          </li>
          <!-- <li class="ftco-animate">
            <a href="#"
              ><span class="ion-ios-checkmark-circle mr-3"></span>Yoga helps
              give meaning to your day</a
            >
          </li> -->
        </ul>
        <p><strong>GET PERSONAL TRAINING</strong> from someone who knows how you feel.</p>
      </div>
    </div>
  </div>
</section>

<style>
  .mt-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
</style>
