/* @import 'https://unpkg.com/open-props/normalize.min.css'; */
@import 'https://unpkg.com/open-props';

:root {
  --accent: rgb(124, 58, 237);
  --accent-gradient: linear-gradient(45deg,
      var(--accent),
      #da62c4 30%,
      white 60%);
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f6f6f6;
}

code {
  font-family: Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New",
    monospace;
}
